header{
  height: 100%;
  width: 100%;
  background-color: rgb(85, 12, 12);
  font-size: 40px;
list-style: none;
  font-family: "Lobster", sans-serif;
color:white ;
 
}
li{
  display: flex;
  justify-content: center;
  align-items:center;
}
  
  